/*easui icon*/
.icon-ok{background:url('imgs/ok.png') no-repeat center center;}
.icon-no{background:url('imgs/no.png') no-repeat center center;}
.icon-tip{background:url('imgs/tip.png') no-repeat center center;}
.icon-sum{background:url('imgs/sum.png') no-repeat center center;}
.icon-add{background:url('imgs/edit_add.png') no-repeat center center;}
.icon-cut{background:url('imgs/cut.png') no-repeat center center;}
.icon-edit{background:url('imgs/pencil.png') no-repeat center center;}
.icon-save{background:url('imgs/filesave.png') no-repeat center center;}
.icon-undo{background:url('imgs/undo.png') no-repeat center center;}
.icon-redo{background:url('imgs/redo.png') no-repeat center center;}
.icon-back{background:url('imgs/back.png') no-repeat center center;}
.icon-help{background:url('imgs/help.png') no-repeat center center;}
.icon-print{background:url('imgs/print.png') no-repeat center center;}
.icon-blank{background:url('imgs/blank.gif') no-repeat center center;}
.icon-remove{background:url('imgs/edit_remove.png') no-repeat center center;}
.icon-cancel{background:url('imgs/cancel.png') no-repeat center center;}
.icon-reload{background:url('imgs/reload.png') no-repeat center center;}
.icon-search{background:url('imgs/search.png') no-repeat center center;}
.icon-filter{background:url('imgs/filter.png') no-repeat center center;}

.icon-mini-add{background:url('imgs/mini_add.png') no-repeat center center;}
.icon-mini-edit{background:url('imgs/mini_edit.png') no-repeat center center;}
.icon-mini-refresh{background:url('imgs/mini_refresh.png') no-repeat center center;}

.icon-large-chart{background:url('imgs/large_chart.png') no-repeat center center;}
.icon-large-shapes{background:url('imgs/large_shapes.png') no-repeat center center;}
.icon-large-picture{background:url('imgs/large_picture.png') no-repeat center center;}
.icon-large-clipart{background:url('imgs/large_clipart.png') no-repeat center center;}
.icon-large-smartart{background:url('imgs/large_smartart.png') no-repeat center center;}

/*ligerui icon*/
.l-icon{ width:16px; height:16px; overflow:hidden;}
.l-icon-up{ background:url('imgs/up.gif') no-repeat center;}
.l-icon-ok{ background:url('imgs/ok.gif') no-repeat center;}
.l-icon-qq{ background:url('imgs/qq.gif') no-repeat center;}
.l-icon-msn{ background:url('imgs/msn.gif') no-repeat center;}
.l-icon-cut{ background:url('imgs/cut.gif') no-repeat center;}
.l-icon-add{ background:url('imgs/add.gif') no-repeat center;}
.l-icon-edit{ background:url('imgs/edit.gif') no-repeat center;}
.l-icon-save{ background:url('imgs/save.gif') no-repeat center;}
.l-icon-view{ background:url('imgs/view.gif') no-repeat center;}
.l-icon-prev{ background:url('imgs/prev.gif') no-repeat center;}
.l-icon-back{ background:url('imgs/back.gif') no-repeat center;}
.l-icon-help{ background:url('imgs/help.gif') no-repeat center;}
.l-icon-home{ background:url('imgs/home.gif') no-repeat center;}
.l-icon-lock{ background:url('imgs/lock.gif') no-repeat center;}
.l-icon-TRUE{ background:url('imgs/TRUE.gif') no-repeat center;}
.l-icon-pager{ background:url('imgs/pager.gif') no-repeat center;}
.l-icon-print{ background:url('imgs/print.gif') no-repeat center;}
.l-icon-right{ background:url('imgs/right.gif') no-repeat center;}
.l-icon-logout{ background:url('imgs/logout.gif') no-repeat center;}
.l-icon-delete{ background:url('imgs/delete.gif') no-repeat center;}
.l-icon-modify{ background:url('imgs/modify.gif') no-repeat center;}
.l-icon-coffee{ background:url('imgs/coffee.gif') no-repeat center;}
.l-icon-outbox{ background:url('imgs/outbox.gif') no-repeat center;}
.l-icon-search{ background:url('imgs/search.gif') no-repeat center;}
.l-icon-search2{ background:url('imgs/search2.gif') no-repeat center;}
.l-icon-bookpen{ background:url('imgs/bookpen.gif') no-repeat center;} 
.l-icon-discuss{ background:url('imgs/discuss.gif') no-repeat center;} 
.l-icon-mailbox{ background:url('imgs/mailbox.gif') no-repeat center;}
.l-icon-memeber{ background:url('imgs/memeber.gif') no-repeat center;}
.l-icon-refresh{ background:url('imgs/refresh.gif') no-repeat center;}
.l-icon-settings{ background:url('imgs/settings.gif') no-repeat center;}
.l-icon-bluebook{ background:url('imgs/bluebook.gif') no-repeat center;}
.l-icon-graywarn{ background:url('imgs/graywarn.gif') no-repeat center;}
.l-icon-greenwarn{ background:url('imgs/greenwarn.gif') no-repeat center;}
.l-icon-photograph{ background:url('imgs/photograph.gif') no-repeat center;}
.l-icon-save-disabled{ background:url('imgs/save-disabled.gif') no-repeat center;}
.l-icon-down{ background:url('imgs/down.gif') no-repeat center;}
.l-icon-role{ background:url('imgs/role.gif') no-repeat center;}
.l-icon-busy{ background:url('imgs/busy.gif') no-repeat center;}
.l-icon-plus{ background:url('imgs/plus.gif') no-repeat center;}
.l-icon-config{ background:url('imgs/config.gif') no-repeat center;}
.l-icon-comment{ background:url('imgs/comment.gif') no-repeat center;}
.l-icon-address{ background:url('imgs/address.gif') no-repeat center;}
.l-icon-process{ background:url('imgs/process.gif') no-repeat center;}
.l-icon-calendar{ background:url('imgs/calendar.gif') no-repeat center;}
.l-icon-archives{ background:url('imgs/archives.gif') no-repeat center;}
.l-icon-database{ background:url('imgs/database.gif') no-repeat center;}
.l-icon-attibutes{ background:url('imgs/attibutes.gif') no-repeat center;}
.l-icon-customers{ background:url('imgs/customers.gif') no-repeat center;}
.l-icon-myaccount{ background:url('imgs/myaccount.gif') no-repeat center;}
.l-icon-communication{ background:url('imgs/communication.gif') no-repeat center;}

/*zwww icon*/
.icon-zico01{ background:url('imgs/zico01.png') no-repeat center;}
.icon-zico02{ background:url('imgs/zico02.png') no-repeat center;}
.icon-zico03{ background:url('imgs/zico03.png') no-repeat center;}
.icon-zico04{ background:url('imgs/zico04.png') no-repeat center;}
.icon-zico05{ background:url('imgs/customers.gif') no-repeat center;}
.icon-zico06{ background:url('imgs/zico06.png') no-repeat center;}
.icon-zico07{ background:url('imgs/chart.png') no-repeat center;}
.icon-zico08{ background:url('imgs/zico05.png') no-repeat center;}
.icon-zico09{ background:url('imgs/area.png') no-repeat center;}