package com.ces.component.${packageName}.dao;

import com.ces.component.trace.dao.base.TraceShowModuleStringIDDao;
import com.ces.xarch.core.entity.StringIDEntity;

public interface ${className}Dao extends TraceShowModuleStringIDDao<StringIDEntity> {

}
