<?xml version="1.0" encoding="UTF-8"?>   
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
    	   http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd  
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd"
           default-lazy-init="true">
     	
	<!-- 自动扫描(自动注入) -->
	<!-- <context:component-scan base-package="com.ces.**.service,com.ces.**.utils" /> -->
	
	<context:property-placeholder ignore-unresolvable="true" location="/WEB-INF/conf/db/db.properties" />	
	
	<!-- 数据源配置, 使用DBCP数据库连接池 -->
	<bean id="authsystemDataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
		<property name="driverClassName" value="${authsystem.jdbc.driver}" />
		<property name="url" value="${authsystem.jdbc.url}" />
		<property name="username" value="${authsystem.jdbc.username}" />
		<property name="password" value="${authsystem.jdbc.password}" />

		<property name="maxActive" value="${dbcp.maxActive}" />
		<property name="initialSize" value="2" />
		<property name="maxWait" value="60000" />
		<property name="minIdle" value="${dbcp.maxIdle}" />
		<property name= "testWhileIdle" value="true" />
		<property name= "testOnBorrow" value="false" />
		<property name= "testOnReturn" value="false" />
		<property name= "validationQueryTimeout" value="1" />
		<property name= "timeBetweenEvictionRunsMillis" value="60000" />
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="filters" value="stat" />
		<property name="validationQuery" value="${authsystem.dbcp.validationQuery}" />
		<property name="poolPreparedStatements" value="true" />
		<property name="maxPoolPreparedStatementPerConnectionSize" value="20" />
	</bean>
</beans>