.coral-dialog {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	outline: 0;
}
.coral-dialog-loading {
	background: url('images/gridloading.gif') no-repeat 50% 0;
	display: none;
	position: absolute;
	left: 40%;
	top: 50%;
	height: 50px;
	width: 160px;
	text-align: center;
	line-height: 69px;
}
.coral-front {
	z-index: 100;
}
.coral-dialog .coral-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
	text-align:center;
}

.coral-dialog .coral-dialog-title {
	position: absolute;
	/* margin: .1em 0; */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #fff;
	left:10px; 
}

.coral-dialog-subTitle{
	text-align:center;
	color: #fff;
}

 .coral-dialog-mainTitle{
	float:left;
	width:80%;
	text-align:left;
}

.coral-dialog .coral-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 20px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px;
}

.coral-dialog .coral-dialog-content {
	position: relative;
	border: 0;
	/* padding: 0;  会覆盖combo的dialog里的padding*/ 
	background: none;
	overflow: auto;
}

.coral-dialog .coral-dialog-buttonpane {
	text-align: center;
	border-width: 1px 0 0 0;
	background-image: none;
}

.coral-dialog .coral-dialog-buttonpane .coral-dialog-buttonset {
	float: none;
}

.coral-dialog .coral-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}

.coral-dialog .coral-resizable-se {
	width: 12px;
	height: 12px;
	right: -5px;
	bottom: -5px;
	background-position: 16px 16px;
}

.coral-draggable .coral-dialog-titlebar {
	cursor: move;
}

.coral-dialog-buttonset .coral-btn-primary {
	background: none repeat scroll 0 0 #428bca;
	color: #fff;
}

.coral-dialog .coral-dialog-titlebar {
	background: #157fcc;
	color: #fff;
}

.coral-dialog-buttonset .coral-state-default {
	padding: 0.3em 1em;
}

.coral-dialog-buttonset .coral-state-default .coral-button-text {
	padding: 0em 1em;
}

.coral-button-text-only.coral-dialog-titlebar-close>span.coral-button-text
	{
	display: none;
}

.coral-dialog {
	box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

.coral-dialog.coral-component-content, .coral-dialog .coral-component-content
	{
	border: 0;
}

.coral-dialog .coral-dialog-titlebar {
	background: #fff;
	color: #666;
	border-bottom: 2px solid #0034c9;
	border-radius: 0;
	padding: .6em 1em;
}

.coral-dialog .coral-dialog-buttonpane {
	margin: 0;
}

.coral-dialog  .coral-dialog-titlebar .coral-button.coral-dialog-titlebar-close {
	position: absolute;
	right: 5px; 
}
.coral-dialog  .coral-dialog-titlebar .coral-button.coral-dialog-titlebar-maximum {
	position: absolute;
	color: #d6ebf8;
	background: transparent;
	border: 0 none;
	right: 30px;
	width: 20px;
	height: 20px;
}
.coral-dialog  .coral-dialog-titlebar .coral-button.coral-dialog-titlebar-maximum .icon-expand3 {
	font-size: 12px;
}
.coral-dialog  .coral-dialog-titlebar .coral-button.coral-dialog-titlebar-maximum .icon-close2 {
	font-size: 14px;
}
.coral-dialog  .coral-dialog-titlebar .coral-button.coral-dialog-titlebar-maximum .icon-contract3 {
	font-size: 12px;
}
.coral-dialog .coral-dialog-titlebar {
	background: none repeat scroll 0 0 #4592f0;
	border-bottom: 1px solid #3484e5;
	padding: 0.3em 1em;
}

.coral-dialog .coral-dialog-titlebar-close {
	background: transparent;
	border: 0 none;
}

.coral-dialog .coral-dialog-titlebar .coral-dialog-titlebar-close{
	color: #d6ebf8;
}

.coral-dialog .coral-dialog-titlebar .coral-dialog-titlebar-close.coral-state-hover{
	color: #fff;
	background: #e81123;
}
.coral-dialog  .coral-dialog-titlebar .coral-dialog-titlebar-maximum.coral-state-hover {
	color: #fff;
}